html {
    scroll-behavior: smooth;
}
body {
    font-family: $primary-font;
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto;
}
.btn {
    border: 2px solid $blue1;
    color: $blue1 !important;
    border-radius: 20px;
    padding: 8px 15px !important;
    line-height: unset;
    font-weight: 600 !important;
}
.btn2 {
    background-color: $blue1;
    color: $white;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    padding: 8px 25px !important;
    border-radius: 20px;
}

.btn-white-black {
    border: 2px solid;
    color: $black;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    padding: 8px 25px !important;
    border-radius: 20px;
}
.btn-black-white {
    border: 2px solid $black;
    background-color: $black ;
    color:$white;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    padding: 8px 25px !important;
    border-radius: 20px;
}

.noreview {
    color: $gray3 !important;
}

.overflow-hidden {
    overflow: hidden;
}

.product-type__active {
    color: $black !important;
    border-bottom: 3px solid $blue !important;
}

.active {
    display: block !important;
}
.unactive {
    display: none !important;
}

.activeHeadInfor {
    border: unset !important;
    padding: unset !important;
}
.activeHeadInfor + ul li:last-child {
    border-bottom: 2px solid $gray1;
    padding-bottom: 18px;
    margin-bottom: 22px;
}
.rotateArrow {
    transform: rotate(180deg);
}
